.idea/
.vscode/
node_modules/
build/
tmp/
temp/
ormconfig.json
package-lock.json
/public/dist/
/public/avatars/*
!/public/avatars/.gitkeep
config.json
!/public/maps/The_village.json
!/public/maps/mapTemplate.json