{% extends "body.twig" %}

{% block body %}
    <div id="profile">
        <h1 id="pseudo">{{ user.pseudo }}</h1>
        <button id="share">Partager</button>
    </div>

    <div id="game_settings">
        <p id="nbJoueurs">Joueurs : <span id="nbPlayers"></span> / <span id="maxPlayers"></span></p>
        <p id="joueursMin">Nombre de joueurs minimum : <span id="nbJoueursMin"></span></p>
        <div id="settings">
            <h2>Configuration de la partie</h2>
            <div id="game_master_settings">
                <fieldset id="fieldset" disabled>
                    <ul id="list_config_partie">
                        <li>
                            <h3>Visibilité de la partie</h3>
                            <ul class="sous-liste">
                                <li>
                                    <label id="label_visibility">Privée <input type="checkbox" name="visibility" id="visibility"><span id="locker"></span></label>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h3>Nombre de joueurs maximum</h3>
                            <div id="config_joueurs_max">
                                <ul class="sous-liste">
                                    <li>
                                        <input type="range" min="7" max="15" id="change_max_players">
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <h3>Gestion des joueurs</h3>
                            <ul class="sous-liste">
                                <li>
                                    <details id="joueursBan">
                                        <summary>Joueurs bannis</summary>
                                    </details>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h3>Carte à utiliser</h3>
                            <div id="config_map">
                                <label for="nom_map">Nom de la carte</label>
                                <select name="nom_map" id="nom_map">
                                    <option value="The_village">Carte par défaut</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                    <button id="start">Lancer la partie</button>
                </fieldset>
            </div>

            <h2>Configuration personnelle</h2>

        </div>
    </div>

    <div id="users">
    </div>

    <div id="chat">
        <div id="form"><button id="sendMessage">Envoyer</button><label><input id="input" type="text" placeholder="Envoyer un message" autocomplete="off"></label></div>
        <ul id="messages"></ul>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        var _id = {{ user.id }};
        var _game = {{ partie }};
        var _gameMaster = {{ gameMaster }};
    </script>
    <script src="/dist/lobby_client.js"></script>
{% endblock %}