{% extends "body.twig" %}

{% block body %}
    <div id="profile">
        <h1 id="pseudo">{{ user.pseudo }}</h1>
    </div>
    <div id="game_settings">

    </div>
    <div id="users">

    </div>
    <div id="chat">
        <div id="form"><label><input id="input" type="text" autocomplete="off"></label><button id="sendMessage">Send</button></div>
        <ul id="messages"></ul>
    </div>
    <p id="id" class="invisible">{{ user.id }}</p>
    <p id="roomName" class="invisible">{{ roomId }}</p>

{% endblock %}

{% block javascripts %}
    <script src="/dist/lobby_client.js"></script>
{% endblock %}