body {
    background: rgb(65,0,0);
    background: linear-gradient(25deg, rgba(65,0,0,1) 0%, rgba(92,0,0,1) 51%, rgba(154,0,0,1) 100%) no-repeat top;
}

body, html {
    margin: 0;
    width: 100%;
    height: 100%;
}

.grid {
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 3%;
}

h1 {
    margin: 0 0 15px 0;
}

label {
    font-size: 18px;
}

.popup-over {
    z-index: 10;
    position: absolute;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.85);
    width: 400px;
    height: 400px;
    top: 10%;
    padding: 30px 30px;
    border-radius: 6px;
}

.authentification {
    z-index: 5;
    position: absolute;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    background-color: white;
    width: 400px;
    height: 400px;
    top: 10%;
    padding: 30px 30px;
    border-radius: 6px;
}

a {
    color: #4b4b4b;
    font-weight: bold;
}

a:hover {
    color: black;
}

.retour {
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 15px;
}