#endGame {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#endGameContainer > * {
    margin: 3em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#endGameContainer {
    position: relative;
    background-color: lightgrey;
    height: 80vh;
    top: 10vh;
}

#endGameTitle {
    font-size: 2.5em;
    color: black;
}

#history {
    font-size: 1.5em;
    max-height: 50vh;
    overflow-y: scroll;
}

#endGameButton {
    padding: 1em;
    width: max-content;
}