html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 30% 50%;

}

#profile {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

#game_settings {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 2;
    grid-row-end: 4;
    background-color: yellow;
}

#form {
    display: flex;
    flex-direction: row-reverse;
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

label {
    width: 100%;
    height: 100%;
}

input[type="text"]{
    border: none;
    border-radius: 2rem;
    width: 96%;
    height: 100%;
    font-size: 1.2em;
    padding: 0 2%;
}

input[type="text"]:focus {
    outline: none;
}

#form > button {
    background: #333;
    border: none;
    margin: 0 0 0 15px;
    border-radius: 3px;
    outline: none;
    color: #fff;
    width: 10%;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px black solid;
    height: 100%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

#chat{
    grid-column-start: 2;
    grid-row-start: 3;
    grid-column-end: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: column-reverse;
}

#users {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: 3;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 20% 20% 20% 20%;

}

#messages > li {
    padding: 0.5rem 1rem;
}

#messages > li:nth-child(odd) {
    background: #efefef;
}

.invisible {
    display: none;
}

.user {
    border: 1px black solid;
}

#user_0 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

#user_1 {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: 3;
    grid-row-end: 2;
}

#user_2 {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 2;
    grid-row-end: 3;
}

#user_3 {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 3;
    grid-row-end: 3;
}

#user_4 {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-column-end: 2;
    grid-row-end: 4;
}

#user_5 {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-column-end: 3;
    grid-row-end: 4;
}

#user_6 {
    grid-column-start: 1;
    grid-row-start: 4;
    grid-column-end: 2;
    grid-row-end: 5;
}

#user_7 {
    grid-column-start: 2;
    grid-row-start: 4;
    grid-column-end: 3;
    grid-row-end: 5;
}

#user_8 {
    grid-column-start: 1;
    grid-row-start: 5;
    grid-column-end: 2;
    grid-row-end: 6;
}

#user_9 {
    grid-column-start: 2;
    grid-row-start: 5;
    grid-column-end: 3;
    grid-row-end: 6;
}
