@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    background-image: url("../../public/img/spooky.png");
    background-size: cover;

}

.gradient-div {
    display: block;
    width: 550px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: #8F8F8F;
    background: rgba(0, 0, 0, 0.4);
    background-clip: padding-box;
    border-radius: 10px;
    padding-bottom: 50px;
}

.title {
    font-family: 'Nosifer', cursive;
    font-size: 22px;
    padding: 3px;
    color: #fff;
    width: 100%;
    text-align: center;
}

.btn-container {
    width: 100%;
}

button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: block;
    background-color: #a62626;
    color: white;
    font-size: 18px;
    width: 250px;
    padding: 15px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}

button:hover,button:active {
    background-color: #801e1e;
}

.playBtn {
    background-color: #0095ff;
}

.playBtn:hover,.playBtn:active {
    background-color: #0876c2;
}

.icon {
    float: left;
}

.copyrights {

    position: fixed;
    background-color: #661212;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;

}

.copyrights > p {
    margin: auto;
    color: #fff;
    vertical-align: center;
}

#logoIUT {
    height: 1.2em;
}