html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    overflow: hidden;
    background: rgb(65,0,0);
    background: linear-gradient(25deg, rgba(65,0,0,1) 0%, rgba(92,0,0,1) 51%, rgba(154,0,0,1) 100%) no-repeat top;
    color: white;
}

#form {
    display: flex;
    flex-direction: row-reverse;
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    border-radius: 5px;
}

label {
    width: 100%;
    height: 100%;
}

input[type="text"]{
    border: none;
    border-radius: 2rem;
    width: 96%;
    height: 100%;
    font-size: 1.2em;
    padding: 0 2%;
    background-color: transparent;
    color: white;;
    overflow-wrap: break-word;
    overflow: hidden;
}

input[type="text"]:focus {
    outline: none
}

button {
    background: #333;
    border: none;
    margin: 0 0 0 15px;
    border-radius: 3px;
    outline: none;
    color: #fff;
    width: 15%;
    cursor: pointer;
}

.vote {
    height: 50px;
    width: 100px;
    align-items: center;
    float: right;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

#messages > li {
    padding: 0.5rem 1rem;
    border: #FFFFFF44 solid 0;
    border-top-width: 1px;
}

#chat{
    display: flex;
    flex-direction: column-reverse;
    height: 300px;
    width: 40%;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.avatar {
    width: 50px;
    height: 50px;
    display: inline-flex;
    margin-right: 10px;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
}

#players {
    column-width: 400px;
}

#vote {
    height: 100%;
    width: 100%;
}

.avatar {
    vertical-align: middle;
}

.player {
    padding: 15px;
    margin: 15px 0;
    width: 70%;
    /*background: #2f0000;*/
}

html {
    background: black;
    overflow: hidden;
}

.container,
.sea,
.sky,
.sun,
.light,
.bird,
.birdr1,
.birdr,
.fin,
.wave {
    position: absolute;
}

.container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    top: 50%;
    left: 50%;
    margin-left: -50%;
    margin-top: -200px;
}

.sky {
    opacity: .8;
    width: 100%;
    height: 50%;
    top: 0;
    background: radial-gradient(at 50% 70%, #820, #610, #400, #100);
    z-index: 30;
}

.sea {
    width: 100%;
    height: 50%;
    top: 50%;
    background: radial-gradient(at 50% 0%, #007, #004);
    z-index: 60;
}

.sun {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 45%;
    z-index: 40;
    background: linear-gradient(#ff0, #d00);
    box-shadow: 0 0 40px 6px #f20, 0 0 150px 10px #f33;
    animation: rise 5s ease forwards;
}

@keyframes rise {
    0% {
        top: 50%;
    }
    100% {
        top: 15%;
    }
}

.light {
    opacity: .5;
    left: 0%;
    width: 100%;
    height: 100%;
    background: radial-gradient(at 50% 0%, #ff0, transparent);
    z-index: 60;
    animation: over 12s ease forwards;
}

@keyframes over {
    0% {
        opacity: 0
    }
    100% {
        opacity: .2
    }
}

.bird {
    opacity: 1;
    top: 50px;
    left: 00px;
    width: 10px;
    height: 8px;
    border: 2px solid black;
    border-radius: 50%;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: rotateZ(-75deg);
    animation: move 25s linear infinite, flap .5s linear alternate infinite;
    z-index: 70;
}

.birdr {
    z-index: 70;

    opacity: 1;
    top: 50px;
    width: 10px;
    height: 8px;
    border: 2px solid black;
    border-radius: 50%;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    transform: rotateZ(75deg);
    margin: 0px 8px;
    animation: mover 25s linear infinite, flap .5s linear alternate infinite;
}

.bird1 {
    opacity: 1;
    top: 45px;
    left: 0px;
    width: 10px;
    height: 8px;
    border: 2px solid black;
    border-radius: 50%;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: rotateZ(-90deg);
    animation: move 25s linear infinite 1.5s, flap .5s linear alternate infinite 1.5s;
    z-index: 70;
}

.birdr1 {
    z-index: 70;

    opacity: 1;
    top: 45px;
    width: 10px;
    height: 8px;
    border: 2px solid black;
    border-radius: 50%;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    transform: rotateZ(90deg);
    margin: 0px 8px;
    animation: mover 25s linear infinite 1.5s, flap .5s linear alternate infinite 1.5s;
}

.fin {
    border: 30px solid black;
    top: 90%;
    left: 100%;
    z-index: 100;
    border-left: 30px solid transparent;
    border-top: 0px solid transparent;
    border-right: 10px solid transparent;
    border-radius: 0px 0px 2px 10px;
    animation: swim 30s linear forwards 10s;
}

.wave {
    margin: 26px 7px;
    border-left: 3px solid transparent;
    border-top: 6px solid rgba(50, 50, 140, .3);
    border-right: 50px solid transparent;
    transform: rotatez(6deg);
    z-index: 60;
}

@keyframes swim {
    0% {
        left: 100%;
    }
    100% {
        left: -25%
    }
}

@keyframes move {
    0% {
        left: 0px;
    }
    100% {
        left: 100%;
    }
}

@keyframes mover {
    0% {
        left: -0px;
    }
    100% {
        left: 100%;
    }
}

@keyframes flap {
    0% {
        border-radius: 90%;
    }
    100% {
        border-radius: 10%;
    }
}