{% extends "body.twig" %}

{% block body %}

    <button class="retour" id="retour" type="button"><i class="fas fa-long-arrow-alt-left"></i></button>
    <div class="grid">
        <div class="authentification">
            <label>Nous allons vous envoyer un email à votre adresse mail avec un code pour vérifier que le compte vous appartient.</label><br>
            <form method="post" action="/auth/envoyerMail">
                <label>
                    Adresse mail du compte<br>
                    <input type="text" name="mail" id="email" placeholder="Adresse mail" value="{{ email }}">
                </label>
                {% if erreur == 1 %}
                    <span class="erreur">Votre adresse mail n'est liée à aucun compte</span>
                {% endif %}
                <br><br>
                <input type="submit" name="envoyer">
            </form>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script src="/dist/getPassword.js"></script>

{% endblock %}