{% extends "body.twig" %}

{% block body %}

    <div>
        Nous allons vous envoyer un email à votre adresse avec un code pour vérifier que le compte vous appartient bien.
    </div>
    <form method="post" action="/auth/envoyerMail">
        <label>
            Email du compte
            <input type="text" name="mail">
        </label>
        {% if erreur == 1 %}
            <span class="error">Votre adresse mail n'est liée à aucun compte</span>
        {% endif %}
        <input type="submit" name="envoyer">
    </form>

{% endblock %}