{% extends "body.twig" %}

{% block title %}Log in{% endblock %}

{% block body %}

    <form method="post" action="/auth/loginRequest">
        <label>Pseudo
            <input type="text"  name="username" placeholder="Pseudo">
        </label>
        <label>
            Mot de passe
            <input type="password" name="password" placeholder="Mot de passe">
        </label>

        <input type="submit">

    </form>
        {% if failed == 1 %}
            <div>
                 Mauvais pseudo ou mot de passe. Réessayez ou créez un compte
            </div>
        {% endif %}
    <a href="/auth/inscription">Créer un compte</a>

{% endblock %}