{% extends "body.twig" %}

{% block title %}Log in{% endblock %}

{% block body %}

    <form method="post" action="/auth/loginRequest">
        <label>Adresse mail
            <input type="text"  name="mail" placeholder="xyz@exemple.com" {% if mail is defined %} value="{{ mail }} {% endif %}">
        </label>
        <label>
            Mot de passe
            <input type="password" name="password" placeholder="Mot de passe">
        </label>

        <input type="submit">

    </form>
        {% if failed == 1 %}
            <div>
                 Mauvaise adresse mail ou mot de passe. Réessayez ou créez un compte
            </div>
        {% endif %}
    <a href="/auth/inscription">Créer un compte</a><br>
    <span>Vous avez oublié votre mot de passe ?</span> <a href="/auth/getPassword">Récupérer mon mot de passe</a>

{% endblock %}