{% extends "body.twig" %}

{% block body %}
    <div id="lib">
        {{ lib }}
    </div>
    <div id="container"></div>

{% endblock %}

{% block javascripts %}
    <script src="/dist/credits.js"></script>
{% endblock %}