{% extends "body.twig" %}

{% block title %}Test{% endblock %}

{% block body %}
    123 456 : {{ variable }}
    {% if connected is defined %}
         <a href="/logout">Se déconnecter</a>
         <a href="/lobby">Jouer</a>
    {% else %}
        <a href="/auth">Se connecter</a>
    {% endif %}
{% endblock %}