{% extends "body.twig" %}

{% block title %}Test{% endblock %}

{% block body %}
    123 456 : {{ variable }}
    {% if connected is defined %}
         <a href="/logout">Se déconnecter</a>
    {% else %}
        <a href="/auth">Se connecter</a>
        <div class="header">
            <div class="container">
                <button class="bt" id="connexion" onclick="location.href='/auth'">Se Connecter</button>
                <button class="bt" id="options" ></button>
            </div>
        </div>
        <div class="title">
            <div class="container" id="title">
                <h2>The Village Don't Trust Anyone</h2>
            </div>
        </div>
        <div class="section">
            <div class="container" id="middle">
                <button class="bt">Jouer</button>
                <button class="bt">Options</button>
                <button class="bt">Crédits</button>
                <button class="bt">Quitter</button>
            </div>
        </div>
        <div class="footer">
            <p>&copy; 2021 The Village</p>
        </div>
        <div class="social">
            <img src="/img/reddit.png" id="reddit">
            <img src="/img/twitter.png" id="twitter">
        </div>
    {% endif %}
    <a href="/options">Options</a>
    <a href="/profil">Profil</a>
{% endblock %}
{% block javascripts %}
    <script src="/dist/menu.js"></script>
{% endblock %}
