{% extends "body.twig" %}

{% block title %}Menu principal{% endblock %}

{% block body %}
    <div class="section">

        <div class="gradient-div">
            <div class="title">
                <h1>The Village</h1>
            </div>
            <div class="btn-container">
                {% if user is defined %}
                    <button class="playBtn" onclick="location.href='/choice'"><i class="icon fas fa-play"></i> Jouer</button>
                    <button onclick="location.href='/profil'"><i class="icon fas fa-address-card"></i> Profil</button>
                    <button onclick="location.href='/options'"><i class="icon fas fa-cogs"></i> Options</button>
                {% else %}
                    <button class="playBtn" onclick="location.href='/auth'"><i class="icon fas fa-sign-in-alt"></i> Se connecter</button>
                {% endif %}
                <button onclick="location.href='/credits'"><i class="icon fas fa-align-center"></i> Crédits</button>
                {% if user is defined %}
                    <button onclick="location.href='/logout'"><i class="icon fas fa-sign-out-alt"></i> Déconnexion</button>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="copyrights">
        <p><img src="/img/iut.png" id="logoIUT"> IUT Belfort-Montbéliard - © 2020-2021</p>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="/dist/menu.js"></script>
    <script src="/dist/menu_jouer.js"></script>
    <script></script>
{% endblock %}
