{% extends "body.twig" %}

{% block title %}Menu principal{% endblock %}

{% block body %}
    <div class="section">
        <h1>The Village</h1>
        <button>Se connecter</button>
        <button>Profil</button>
        <button>Crédits</button>
        Hello
    </div>



{#        <div class="header">#}
{#            <div class="container">#}


{#            </div>#}
{#        </div>#}
{#        <div class="title">#}
{#            <div class="container" id="title">#}
{#                <h2>The Village Don't Trust Anyone</h2>#}
{#            </div>#}
{#        </div>#}
{#        <div class="section">#}
{#            <div class="container" id="middle">#}
{#                {% if user is defined %}#}

{#                <button class="bt"  onclick="location.href='/choice'">Jouer</button>#}
{#                <button class="bt" onclick="location.href='/options'">Options</button>#}
{#                <button class="bt"  onclick="location.href='/profil'">Profil</button>#}
{#                    <button class="bt" onclick="location.href='/logout'">Se Déconnecter</button>#}
{#                    <p id="uid" style="display: none">{{ user }}</p>#}
{#                {% else %}#}
{#                    <button class="bt" id="play" onclick="location.href='/auth'">Jouer</button>#}
{#                    <button class="bt" onclick="location.href='/auth'">Options</button>#}
{#                    <button class="bt"  onclick="location.href='/auth'">Profil</button>#}
{#                    <button class="bt" onclick="location.href='/auth'">Se Connecter</button>#}

{#                {% endif %}#}
{#                <button class="bt" onclick="location.href='/credits'">Crédits</button>#}


{#            </div>#}
{#        </div>#}
{#        <div class="footer">#}
{#            <img src="/img/iut.png">#}
{#            <p>&copy; 2021 The Village</p>#}
{#        </div>#}

{% endblock %}
{% block javascripts %}
    <script src="/dist/menu.js"></script>
    <script src="/dist/menu_jouer.js"></script>
    <script></script>
{% endblock %}
