{% extends "body.twig" %}

{% block title %}The Village{% endblock %}

{% block body %}
    {% if user is defined %}
         <a href="/logout">Se déconnecter</a>
        <button id="findRoom">Jouer</button>

        <p id="userid">{{ user }}</p>

    {% else %}
        <a href="/auth">Se connecter</a>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {% if user is defined %}

        <script src="/dist/menu_jouer.js"></script>

    {% endif %}
{% endblock %}